<div id="level-button-holder" class="level-button-holder-offset" style="display: auto;">
    <a href="/">
      <div id="level-1-holder" class="card-material level-holder">
        Sandbox
      </div>
    </a>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <a href="/car-level.html">
        <div id="level-2-holder" class="card-material level-holder">
          Car Level
        </div>
      </a>

      <% if (show_check_this_out == true) { %>
      
        <div style="margin-left: 10px; 
            font-family: custom-normal;
            font-size: 13px;">
          &lt; Check this out
        </div> 

      <% } %>

    </div>

  </div>