<!DOCTYPE html>
<html lang="en">
<head>
  <title>Soft Body - Car Level</title>
  <style type="text/css">
    @import url(src/styles.css);
  </style>
  <link rel="icon" type="image/x-icon" href="/assets/icon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=0.75">

  <script type="module" src="src/car-level.js"></script>


</head>
<body>


  <div id="controls-overlay" class="overlay hidden">
    <div class="settings-holder card-material">

      <div class="title-holder">
        Controls
        <div id="controls-close-button" class="svg-holder button" style="--padding: 0px">
          <svg style="padding: var(--padding);"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
        </div>
      </div>

      <div class="menu-items-holder-wrapper">
        <div class="menu-items-holder">

          <div class="dimensions-row-holder">
            <span>Movement</span>
            <span>WASD and Arrows</span>
          </div>

          <div class="dimensions-row-holder">
            <span>Shooting</span>
            <span>Space</span>
          </div>

          <div class="dimensions-row-holder" style="margin-bottom: 0;">
            <span>Aiming</span>
            <span>Mouse</span>
          </div>

          <div class="dimensions-row-holder">
            <hr class="separator">
          </div>
    
          <div class="dimensions-row-holder" style="margin-bottom: 0;">
            <span>This is a showcase of how the softbody sim can expand into a game engine. Try shooting the red buttons</span>
          </div>

        </div>
      </div>


    </div>
  </div>

  <%- include('partials/settings-overlay', {
  draw_springs_default: false,
  }) %>

  <%- include('partials/level-buttons', {
    show_check_this_out: false,
  }) %>

  <%- include('partials/menu') %>
  
  <div id="cloth-sim-holder">

  </div>
</body>
</html>